node_modules
github-token.txt
./github-token.txt

# dependencies
**/node_modules

# testing
**/coverage

# build
**/dist
dist
chrome-extension/dist/

# etc
.DS_Store
.env.local
.idea

# compiled
utils/reload/*.js
utils/reload/injections/*.js
public/manifest.json


