.Home {
}
.PrHeader {
  margin: 0;
  display: flex;
  gap: 10px;

  svg {
    height: 25px;
    width: 25px;
  }

  .repo {
    font-size: inherit;
  }
}

.PrLink {
  font-size: 12px;
  display: block;
  font-weight: 600;
  margin-top: 4px;
}

.Prs {
  word-wrap: break-word;
  margin: 0;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  border-radius: var(--border-radius-bottom);
  overflow: hidden;
  box-shadow: var(--outline);
  width: calc(100% + var(--card-padding) * 2);
  margin-left: calc(var(--card-padding) * -1);
  margin-top: var(--card-padding);
  margin-bottom: calc(var(--card-padding) * -1);

  li {
    padding: 10px 10px;
    line-height: 1.4;
    background: #161b22;
    border-bottom: 1px solid #21262d;

    a {
      margin-right: 10px;
    }
  }

  li::marker {
    color: #403b7c;
    font-weight: bold;
    font-size: 12px;
  }
}
